@import url("navigation.css");

/*
==============
common styling
============== 
*/

a:link {
   text-decoration: none;
}

a:hover > p {
   background-color:#BF9515;
   opacity: 0.2;
}

body {
   background-color: #1F5373;
   font-family: Helvetica, sans-serif;
   color: white;
   max-height: 100vh;
}

.navigation {
   border: 1px solid #BF9515;
   width: 1280px;
   background-color: #F2C53D;
   box-shadow: 2px 2px 2px #BF9515;
}
.logo img {
   height: 100px;
   opacity: 0.1;
   margin: 1rem 32rem 1rem 32rem;
}

.header {
   text-align: center;
   font-family: Helvetica, sans-serif;
}

h2 {
   text-align: center;
   text-transform: uppercase;
   font-family: Helvetica, sans-serif;
}

.content img {
   width: 1280px;
   opacity: 0.1;
}

.content img:hover {
opacity: 1;
box-shadow: 5px 5px 5px lightgrey;
}


.menu-content {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 3rem 1rem 3rem 1rem;
   font-family: Helvetica, sans-serif;
}

.cafe-menu {
   border: 2px solid #082640;
   padding: 1rem;
   box-shadow: 2px 2px 2px #082640;
}

.cafe-menu h2 {
   color: #F2C53D;
}

.content h1 {
   text-transform: uppercase;
   font-family: Helvetica, sans-serif;
}

.p-index {
   text-align: center;
   font-family: Helvetica, sans-serif;
}

.content-find {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 3rem;
   font-family: Helvetica, sans-serif;
}

.footer {
   position: absolute;
   bottom: 0;
}

.index-footer {
   position: relative;
   bottom: 0;
}

.footer p, .index-footer p {
   text-align: center;
   margin-left: 30rem;
   margin-right: 30rem;
   font-family: Helvetica, sans-serif;
}

