@import url("navigation.css");

/*
==============
common styling
============== 
*/

a:link {
   text-decoration: none;
}

a:hover > p {
   background-color: black;
   color: white;
}

body {
   background-color: darkolivegreen;
}