@import url("navigation.css");

/*
==============
common styling
============== 
*/

a:link {
   text-decoration: none;
}

a:hover > p {
   background-color:#BF9515;
   opacity: 0.2;
}

body {
   background-color: #1F5373;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   min-height: 100vh;
}

.navigation {
   border: 1px solid #BF9515;
   width: 1280px;
   background-color: #F2C53D;
   box-shadow: 2px 2px 2px #BF9515;
}
.logo img {
   height: 100px;
}

.header {
   text-align: center;
}

h2 {
   text-align: center;
   text-transform: uppercase;
}

.content img {
   width: 1280px;
}

.menu-content {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 3rem 1rem 3rem 1rem;
}

.cafe-menu {
   border: 2px solid #082640;
   padding: 1rem;
   box-shadow: 2px 2px 2px #082640;
}

.cafe-menu h2 {
   color: #F2C53D;
}

.content h1 {
   text-transform: uppercase;
}