@import url("navigation.css");
@import url("footer.css");

/*
==============
common styling
============== 
*/

a:link {
   text-decoration: none;
}

a:hover > p {
   background-color: black;
   color: white;
}
